<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
</head>
<body>

<header class="header"><!-- header-START -->
    <div class="container-fluid"><!-- container-header-START -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="header_site_name">
                    <h3 class="header_name">Гостевая книга</h3>
                </div>
            </div>
         </div>  
    </div><!-- container-header-END -->
</header><!-- header-END -->
<div class="main-content"><!-- main-content START -->
    <div class="wrapper-menu">
        <p class="menu_name">Меню:</p>
        <ul>
            <li><a href="#" class="menu-list">Оставить отзыв</a></li>
            <li><a href="#" class="menu-list">Просмотр отзывов</a></li>
        </ul>
    </div>
</div><!-- main-content END -->
<footer class="footer">
    <div class="container-fluid"><!-- container-header-START -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="header_copyright">
                    <p> &copy;2016 | Гостевая книга</p>
                    <p>&reg;Всі права захищені</p>
                </div>
            </div>
        </div>
    </div><!-- container-footer-END -->
</footer>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>